:root {
  /* General Colors */
  --primary-accent-color: #8394f7;
  --primary-text-color: #000000;
  --secondary-text-color: #555555;
  --white-font-color: #ffffff;
  --dark-accent-color: #1F1665;
  --secondary-accent-color: #baafe1;
  --hero-text-color: #ffffff;

  /* Gradient Colors */
  --journey-line-color: linear-gradient(to bottom, #a981e0, #1F1666);
  --light-linear-gradient: linear-gradient(135deg, #a981e0, #3c0589);
  --dark-linear-gradient: linear-gradient(90deg, #a981e0, #1F1666);

  /* Pillar and Diagram */
  --pillar-accent: #a981e0;
  --diagram-light-color: #baafe1;
}

/* === TEAM SECTION === */
.team-wrapper h2 {
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
}