<nav class="navbar">
  <a href="index.html" class="brand-link">
    <img src="assets/icons/headerlogo.png" alt="Alexis Logo" />
  </a>

  <!-- Hamburger Menu -->
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>

  <div class="navbar-right">
    <a href="about.html">About Me</a>
    <a href="experience.html">Experience</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html">Contact</a>
  </div>
</nav>
